
@{
    ViewBag.Title = "Ver";
}

<h2>Documento</h2>

<div class="col-lg-4">
    <div class="panel-heading">
        DNI DIFUNTO
    </div>
    <div class="panel-body">
        <img class="img-responsive" src="https://support.joinhandshake.com/hc/article_attachments/115026121948/mceclip4.png"
    </div>
</div>